@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  background-color: white;
  color: black;
}
.dark {
  color: white;
  background: black;
}
* {
  scroll-behavior: smooth;
  /* transition: all 0.6s; */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: gray transparent;
}

/* WebKit browsers (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: 8px;
  display: none;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 999px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
.no-scrollbar {
  overflow-x: scroll; /* or auto */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* For Chrome, Safari, Opera, and newer Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
