@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  background-color: white;
  color: black;
}
.dark {
  color: white;
  background: black;
}
* {
  scroll-behavior: smooth;
  transition: all 0.6s;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: gray transparent;
}

/* WebKit browsers (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: 8px; /* thickness */
}

*::-webkit-scrollbar-thumb {
  background-color: gray; /* thumb color */
  border-radius: 999px;
}

*::-webkit-scrollbar-track {
  background: transparent; /* remove background */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #3730a3; /* hover effect */
}
