@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  background-color: white;
  color: black;
}
.dark {
  color: white;
  background: #0f0e0e;
}
* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  display: none;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 999px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
.no-scrollbar {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
